kubernetesClusterDomain: cluster.local
kubernetesNamespace: multiwoven
multiwovenConfig:
  apiHost: api.multiwoven.com
  dbHost: multiwoven-postgresql
  dbPassword: password
  dbPort: "5432"
  dbUsername: multiwoven
  newRelicKey: yourkey
  railsEnv: development
  smtpAddress: smtp.yourdomain.com
  smtpHost: yourdomain.com
  smtpPassword: yourpassword
  smtpPort: "587"
  smtpUsername: yourusername
  snowflakeDriverPath: /usr/lib/snowflake/odbc/lib/libSnowflake.so
  syncExtractorBatchSize: "1000"
  syncExtractorThreadPoolSize: "10"
  syncLoaderBatchSize: "1000"
  syncLoaderThreadPoolSize: "10"
  temporalActivityThreadPoolSize: "20"
  temporalClientChain: /certs/temporal.chain.pem
  temporalClientKey: /certs/temporal.key
  temporalHost: multiwoven-temporal
  temporalNamespace: multiwoven-dev
  temporalPort: "7233"
  temporalPostgresDefaultPort: "5432"
  temporalPostgresPassword: password
  temporalPostgresUser: multiwoven
  temporalPostgresqlVersion: "13"
  temporalRootCert: /certs/temporal.pem
  temporalTaskQueue: sync-dev
  temporalUiHost: temporal.multiwoven.com
  temporalUiVersion: 2.23.2
  temporalVersion: 1.22.4
  temporalWorkflowThreadPoolSize: "10"
  tlsAdminEmail: admin@multiwoven.com
  tlsCertIssuer: letsencrypt-staging
  uiHost: app.multiwoven.com
  viteApiHost: api.multiwoven.com
  viteBrandName: "Multiwoven"
  viteLogoUrl: ""
  viteBrandColor: ""
  viteBrandHoverColor: ""
multiwovenPostgresql:
  enabled: true
  multiwovenPostgresql:
    image:
      repository: postgres
      tag: "13"
    resources:
      limits:
        cpu: "1"
        memory: 2Gi
      requests:
        cpu: 500m
        memory: 1Gi
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  replicas: 1
  type: ClusterIP
multiwovenServer:
  multiwovenServer:
    image:
      repository: multiwoven/multiwoven-server
      tag: latest
    resources:
      limits:
        cpu: "2"
        memory: 2Gi
      requests:
        cpu: "1"
        memory: 1Gi
  ports:
    - name: "3000"
      port: 3000
      targetPort: 3000
  replicas: 1
  type: ClusterIP
multiwovenUI:
  multiwovenUI:
    image:
      repository: multiwoven/multiwoven-ui
      tag: latest
    resources:
      limits:
        cpu: "2"
        memory: 2Gi
      requests:
        cpu: "1"
        memory: 1Gi
  ports:
    - name: "8000"
      port: 8000
      targetPort: 8000
  replicas: 1
  type: ClusterIP
multiwovenWorker:
  healthPort: 4567
  multiwovenWorker:
    args:
      - sh
      - -c
      - |
        ./app/temporal/cli/register_namespace && ./app/temporal/cli/worker
    image:
      repository: multiwoven/multiwoven-server
      tag: latest
    resources:
      limits:
        cpu: "1"
        memory: 1Gi
      requests:
        cpu: 500m
        memory: 512Mi
  replicas: 1
pvc:
  pvc:
    storageRequest: 100Mi
temporal:
  enabled: true
  ports:
    - name: "7233"
      port: 7233
      targetPort: 7233
  replicas: 1
  temporal:
    env:
      db: postgresql
    image:
      repository: temporalio/auto-setup
      tag: 1.22.4
    resources:
      limits:
        cpu: "1"
        memory: 2Gi
      requests:
        cpu: 500m
        memory: 1Gi
  type: ClusterIP
temporalUi:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  replicas: 1
  temporalUi:
    env:
      temporalAddress: multiwoven-temporal:7233
      temporalCorsOrigins: http://localhost:3000
      temporalUiPort: "8080"
    image:
      repository: temporalio/ui
      tag: 2.22.3
  type: ClusterIP
