apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-worker
  namespace: {{ .Values.kubernetesNamespace }}
  labels:
    app: {{ include "chart.fullname" . }}-worker
    io.kompose.service: {{ include "chart.fullname" . }}-worker
  {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.multiwovenWorker.replicas }}
  selector:
    matchLabels:
      app: {{ include "chart.fullname" . }}-worker
      io.kompose.service: {{ include "chart.fullname" . }}-worker
    {{- include "chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: {{ include "chart.fullname" . }}-worker
        io.kompose.service: {{ include "chart.fullname" . }}-worker
      {{- include "chart.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - args: {{- toYaml .Values.multiwovenWorker.multiwovenWorker.args | nindent 8 }}
        env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        - name: MULTIWOVEN_WORKER_HEALTH_CHECK_PORT
          value: {{ quote .Values.multiwovenWorker.healthPort }}
        envFrom:
        - configMapRef:
            name: {{ include "chart.fullname" . }}-config
        image: {{ .Values.multiwovenWorker.multiwovenWorker.image.repository }}:{{ .Values.multiwovenWorker.multiwovenWorker.image.tag | default .Chart.AppVersion }}
        livenessProbe:
          httpGet:
            path: /health
            port: {{ .Values.multiwovenWorker.healthPort }}
          initialDelaySeconds: 15
          periodSeconds: 10
        name: {{ include "chart.fullname" . }}-worker
        ports:
        - containerPort: {{ .Values.multiwovenWorker.healthPort }}
        readinessProbe:
          httpGet:
            path: /health
            port: {{ .Values.multiwovenWorker.healthPort }}
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.multiwovenWorker.multiwovenWorker.resources | nindent 10 }}
{{ if not .Values.temporal.enabled }}
        volumeMounts:
        - name: ssl
          mountPath: /certs
          readOnly: false
      volumes:
      - name: ssl
        secret:
          secretName: temporal-cloud
          items:
          - key: temporal-client-key
            path: ./temporal.key
          - key: temporal-root-cert
            path: ./temporal.pem
{{ end }}
      restartPolicy: Always