apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-ui
  namespace: {{ .Values.kubernetesNamespace }}
  labels:
    app: {{ include "chart.fullname" . }}-ui
    io.kompose.service: {{ include "chart.fullname" . }}-ui
  {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.multiwovenUI.replicas }}
  selector:
    matchLabels:
      app: {{ include "chart.fullname" . }}-ui
      io.kompose.service: {{ include "chart.fullname" . }}-ui
    {{- include "chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: {{ include "chart.fullname" . }}-ui
        io.kompose.service: {{ include "chart.fullname" . }}-ui
      {{- include "chart.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - env:
        envFrom:
        - configMapRef:
            name: {{ include "chart.fullname" . }}-config
        image: {{ .Values.multiwovenUI.multiwovenUI.image.repository }}:{{ .Values.multiwovenUI.multiwovenUI.image.tag | default .Chart.AppVersion }}
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
        name: {{ include "chart.fullname" . }}-ui
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources: {{- toYaml .Values.multiwovenUI.multiwovenUI.resources | nindent 10 }}
        imagePullPolicy: Always
      restartPolicy: Always
      {{ if .Values.multiwovenConfig.privateRepo }}
      imagePullSecrets:
        - name: {{ .Values.multiwovenConfig.registrySecretName }}
      {{ end }}