apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "chart.fullname" . }}-multiwoven-worker
  labels:
    app: multiwoven-worker
    io.kompose.service: multiwoven-worker
  {{- include "chart.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.multiwovenWorker.replicas }}
  selector:
    matchLabels:
      app: multiwoven-worker
      io.kompose.service: multiwoven-worker
    {{- include "chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: multiwoven-worker
        io.kompose.service: multiwoven-worker
      {{- include "chart.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - args: {{- toYaml .Values.multiwovenWorker.multiwovenWorker.args | nindent 8 }}
        env:
        - name: KUBERNETES_CLUSTER_DOMAIN
          value: {{ quote .Values.kubernetesClusterDomain }}
        envFrom:
        - configMapRef:
            name: {{ include "chart.fullname" . }}-multiwoven-config
        image: {{ .Values.multiwovenWorker.multiwovenWorker.image.repository }}:{{ .Values.multiwovenWorker.multiwovenWorker.image.tag
          | default .Chart.AppVersion }}
        name: multiwoven-worker
        resources: {{- toYaml .Values.multiwovenWorker.multiwovenWorker.resources | nindent
          10 }}
      restartPolicy: Always