apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc
  labels:
    io.kompose.service: multiwoven-postgresql-pvc
  {{- include "chart.labels" . | nindent 4 }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.pvc.pvc.storageRequest | quote }}