{{ if .Values.temporal.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-temporal-{{ .Values.multiwovenConfig.appEnv }}
  namespace: {{ .Values.kubernetesNamespace }}
  labels:
    io.kompose.service: temporal
  {{- include "chart.labels" . | nindent 4 }}
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.32.0 (HEAD)
    kompose.volume.type: configMap
spec:
  type: {{ .Values.temporal.type }}
  selector:
    io.kompose.service: temporal
  {{- include "chart.selectorLabels" . | nindent 4 }}
  ports:
	{{- .Values.temporal.ports | toYaml | nindent 2 -}}
{{ end }}
